{% extends 'base.html' %}
{% block title %}Category Detail{% endblock %}
{% block content %}

        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-4">
                        <div class="card">
                          {% if product.image %}
                            <img class="card-img-top" src="{{product.image.url}}" alt="Product Image">
                            {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.price}}$ </p>
                            <!-- <span class="badge badge-secondary">&#8361;{{product.price}}</span> -->
                            <a href="{{product.get_absolute_url}}" class="btn btn-primary">View Detail</a>
                            <!-- <a href="{% url 'cart:product_add' product.id %}" class="btn btn-primary">Add to cart</a>
                            <form action="{% url 'cart:product_add' product.id %}" method="post">
                                {{add_to_cart}}
                                {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
                            </form>  -->
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
