{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}

<div class="container main">
    <div class="clear"></div>
    <ul>
        <li class="navPages-item has child">
            <a class="navPages-action navPages-action-depth-max has subMenu is root" href="/cat-1/">Cat-1</a>
            <i class="icon navPages-action-moreIcon">
                <svg>
                    <use href="/cat2/"></use>
                </svg>
            </i>
        </li>
    </ul>

</div>
{% endblock %}
