{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}

    <div class="row">
        <div class="col">
            <div class="row">
            {% for category in categories %}
                <div class="col-4">
                    <div class="card">
                      {% if category.image %}
                        <img class="card-img-top" src="{{category.image.url}}" alt="Category Image">
                        {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{category.title}}</h5>
                        <a href="{{category.get_absolute_url}}" class="btn btn-primary">View Detail</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
